#!/bin/bash

# make sure we don't have one running already
killall ndnputchunks

NDN_ID=`ndnsec-ls-identity | awk '{print $2}'`

# ndnputchunks command goes here:
nohup ndnputchunks -S id:${NDN_ID} < bob_01_01.png &
nohup ndnputchunks -S id:${NDN_ID} < bob_01_02.png &
nohup ndnputchunks -S id:${NDN_ID} < bob_02_01.png &
nohup ndnputchunks -S id:${NDN_ID} < bob_02_02.png &

