#!/bin/bash

# make sure any old nfd is stopped:
nfd-stop
sleep 5

# start a new nfd:
nfd-start >& nfd-start.log
sleep 5

# use WU as gateway router:
nfdc register / udp://{{ ec2_tag_host_gw }}

# configure for prefix registration at WU:
nfdc register /localhop/nfd udp4://{{ ec2_tag_host_gw }}

sleep 5

# test connection to WU gateway with ndnping
ndnping -c 5 {{ ec2_tag_host_gw_prefix }}

# set identity to WU based name:
#ndnsec-set-default {{ ec2_tag_host_gw_prefix }}/jdd

